# Understanding the data

* Getting raw data

In [ ]:
%pip install pandas

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("Titanic/Titanic-Dataset.csv")

# Questions to ask before starting

<h3>1. How big is the data?</h3>

In [5]:
df.shape

(891, 12)

So there are 891 rows and 12 columns

In [6]:
# df.head()  -- might make bias toughts in our mind

df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
550,551,1,1,"Thayer, Mr. John Borland Jr",male,17.0,0,2,17421,110.8833,C70,C
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
628,629,0,3,"Bostandyeff, Mr. Guentcho",male,26.0,0,0,349224,7.8958,NaN,S

<h3>3. What are the DataTypes ?</h3>

In [ ]:
df.info()

<h3>4. Are there any missing values? </h3>

In [ ]:
df.isnull().sum()

<h3>5. How does the data look like Mathematically ?</h3>

In [ ]:
df.describe()

<h3>6. Are there any duplicate values ?</h3>

In [ ]:
df.duplicated().sum()

<h3>7. How is the correlation between columns ?</h3>

In [ ]:
# df.select_dtypes(include='number').corr()
df.select_dtypes(include='number').corr()['Survived']