In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [3]:
df = pd.read_csv("covid_toy.csv")

In [4]:
df.sample(5)

    age  gender  fever   cough       city has_covid
22   71  Female   98.0  Strong    Kolkata       Yes
85   16  Female  103.0    Mild  Bangalore       Yes
71   75  Female  104.0  Strong      Delhi        No
16   69  Female  103.0    Mild    Kolkata       Yes
63   10    Male  100.0    Mild  Bangalore        No

In [8]:
x_train,x_test,y_train,y_test = train_test_split(df.drop(columns=["has_covid"]), df["has_covid"],test_size=0.20)

In [9]:
x_train.shape,x_test.shape

((80, 5), (20, 5))

In [12]:
transformer = ColumnTransformer(transformers=[
    ("tnf1",SimpleImputer(),["fever"]),
    ("tnf2",OrdinalEncoder(categories=[["Mild","Strong"]]),["cough"]),
    ("tnf3",OneHotEncoder(drop="first",sparse_output=False),["gender","city"])
],remainder="passthrough")

In [13]:
x_train = transformer.fit_transform(x_train)
x_train.shape

(80, 7)

In [ ]:
x_test = transformer.transform(x_test)

In [17]:
x_test.shape

(20, 7)